@mixin small {
	body {
		width: 100%;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 300;
		margin: 0;
	}

	.site{
		background: #fff;
		width: calc(100% - 20px);
		padding: 0px 10px;
	}

	.site-header {
		padding: 10px 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.site-branding {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-content: center;
			.site-title {
				font-size: 27px;
				margin: 0;
				padding: 0px 0px 0px 0px;
				a {
					font-weight: 500;
					color: #222;
					text-decoration: none;
				}
			}
			.site-description {
				margin: 0;
				font-size: 10px;
				color: #555;
			}
		}
		.main-navigation {
			// display: flex;
			// align-content: center;
			.menu-toggle {
				background: none;
				border: 0;
				padding: 0;
				outline: none;
				img {
					width: 50px;
					vertical-align: bottom;
					border-radius: 50px;
				}
			}
			.menu, .menu-primary-menu-container{
				position: absolute;
				display: none;
				right: 0;
				background: #fff;
				border-radius: 2px;
				margin: 10px;
				ul {
					-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
					-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
					box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
					margin: 0;
					padding: 0;
					li{
						list-style: none;
						text-align: right;
						a {
							padding: 8px;
							margin: 2px;
							display: block;
							font-size: 14px;
							text-transform: capitalize;
							font-weight: 800;
							color: #222;
							text-decoration: none;
						}
					}
				}
			}
		}
		.toggled {
			.menu, .menu-primary-menu-container{
				display: block;
			}
		}
	}

	.post-thumbnail {

		img {
			width: 100%;
			vertical-align: bottom;
			height: auto;
		}

	}
}