@mixin small {
	body {
		width: 100%;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 300;
		margin: 0;
	}

	.site{
		background: #fff;
		width: calc(100% - 20px);
		padding: 0px 10px;
	}

	.site-header {
		padding: 10px 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.site-branding {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.site-title {
				font-size: 25px;
				margin: 0;
				padding: 0px 0px 0px 0px;
				a {
					font-weight: 500;
					color: #222;
					text-decoration: none;
				}
			}
			.site-description {
				margin: 0;
				font-size: 10px;
				color: #555;
			}
		}
		.main-navigation {
			// display: flex;
			// align-content: center;
			.menu-toggle {
				background: none;
				border: 0;
				padding: 0;
				outline: none;
				img {
					width: 50px;
					vertical-align: bottom;
					border-radius: 50px;
				}
			}
			.menu, .menu-primary-menu-container{
				position: absolute;
				display: none;
				right: 0;
				background: #fff;
				border-radius: 9px;
				margin: 10px;
				ul {
					-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
					-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
					box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
					margin: 0;
					padding: 0;
					li{
						list-style: none;
						text-align: right;
						a {
							padding: 8px;
							margin: 2px;
							display: block;
							font-size: 14px;
							text-transform: capitalize;
							font-weight: 800;
							color: #222;
							text-decoration: none;
						}
					}
				}
			}
		}
		.toggled {
			.menu, .menu-primary-menu-container{
				display: block;
				z-index: 9999;
			}
		}
	}

	.post-thumbnail {

		img {
			width: 100%;
			vertical-align: bottom;
			height: auto;
		}

	}

	// Article Cell
	article {
		header {
			height: 40vh;
			width: 100%;
			position: relative;
			border-radius: 4px;
			margin-bottom: 10px;

			-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);

			.post-thumbnail {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: inherit;
				img {
					vertical-align: top;
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: inherit;
				}
			}

			.header-content {
				border-radius: inherit;
				background: rgba(0,0,0,0.7);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 10px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				pointer-events: none;
				.entry-title {
					margin: 0;
					font-weight: 500;
					color: #fff;
					font-size: 25px;
					a {
						color: #fff;
						text-decoration: none;
						font-size: 25px;
					}
				}
				.entry-meta {
					.posted-on a {
						color: #999;
						text-decoration: none;
						font-size: 12px;
					}
				}
			}
		}
		.entry-content {
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
			font-size: 15px;
			line-height: 1.7;
			word-wrap: break-word;

			ul {
				padding-left: 20px;
			}

			a {
				text-decoration: none;
				color: rgb(74, 74, 255);
			}

			pre{
				font-family: "Courier New", monospace, serif;
				margin-bottom: 10px;
				overflow: auto;
				padding: 5px;
				background-color: #eee;
				word-wrap: break-word;
			}

			code {
				background-color: #eee;
			}

			blockquote {
				background: #f9f9f9;
				border-left: 3px solid #ccc;
				margin: 0;
				padding: 5px 5px;
			}
			blockquote p {
				display: inline;
			}

			.size-full {
				width: 100%;
				height: auto;
			}

		}
	}


	// FOOTER

	footer {
		.site-info{
			padding: 10px 0px;
			text-align: center;
			font-size: 10px;
			a {
				color: #555;
				text-decoration: none;
			}
		}
	}

}